<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Brinquedos</title>
    <link rel="stylesheet" th:href="@{/css/listar.css}">
</head>
<body>

<div class="home-button">
    <a href="/index">Home</a>
</div>

<h1>Lista de Brinquedos</h1>

<div class="container-link">
    <a href="/brinquedos/novo">Adicionar Novo Brinquedo</a>
</div>


<ul>
    <li th:each="brinquedo : ${brinquedos}">
        <h2 th:text="${brinquedo.nome}">Nome do Brinquedo</h2>
        <p th:text="${brinquedo.descricao}">Descrição do Brinquedo</p>
        <div>
            <form th:action="@{/brinquedos/editar/{id}(id=${brinquedo.id})}" method="get" style="display:inline;">
                <button type="submit">Editar</button>
            </form>

            <form th:action="@{/brinquedos/deletar}" method="post" style="display:inline;">
                <input type="hidden" th:name="id" th:value="${brinquedo.id}"/>
                <button type="submit">Excluir</button>
            </form>

        </div>
    </li>
</ul>

</body>
</html>
